<!-- <navbar class="navbar navbar-default bar bar-footer"> -->
  <!-- <div class="container"> -->
    <!-- <div class="button-bar">
      <a class="btn btn-default" ui-sref="index">index</a>
      <a class="btn btn-default" ng-click="lastFuture()">future log</a>
      <a class="btn btn-default" ng-click="lastMonth()">monthly tracker</a>
      <a class="btn btn-default" ng-click="lastDaily()">daily log</a>
      <a class="btn btn-default" ng-if="currentStates.genericTitle" ng-click="lastGeneric()">{{currentStates.genericTitle}}</a>
    </div> -->
    <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-outline button-stable" ui-sref="index">index</button>
      <button class="button button-outline button-stable">add collection</button>
    </div>
  </ion-footer-bar>

    <!-- <ul class="menu pagination navbar-right">
        <li refresh id="refresh" class="text-muted"><a class="navbar-link" ng-class="{offline: !online || !user}" ng-click="login()"><i class="fa fa-fw fa-refresh" ng-class="{'fa-spin': user && sync}"></i></a></li>
    </ul>

    <div class="navbar-form navbar-right form-inline">
      <add-collection collection-type="generic"></add-collection>
    </div>
    <div class="navbar-form navbar-right form-inline">
      <search-bar></search-bar>
    </div> -->

  <!-- </div> -->
  <!-- TODO: The following sections should be moved into either menus or modals -->
  <!-- <div class="container">
            <p class="text-muted pull-left">
                Key
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-circle"></i> task
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-times"></i> complete task
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-circle-thin"></i> event
            </p>
            <p class="text-muted pull-left">
                <i class="fa fa-fw fa-minus"></i> note
            </p>
        </div>
        <div class="container">
            <p class="text-muted pull-left">
                Shortcuts
            </p>
            <p class="text-muted pull-left">
                task: ⌘+t
            </p>
            <p class="text-muted pull-left">
                event: ⌘+e
            </p>
            <p class="text-muted pull-left">
                note: ⌘+n
            </p>
            <p class="text-muted pull-left">
                done: ⌘+d
            </p>
            <p class="text-muted pull-left">
                crossout: ⌘+x
            </p>
            <p class="text-muted pull-left">
                delete: ⌘+del
            </p>
        </div> -->
<!-- </navbar> -->
